/* @import '~typeface-nunito-sans'; */

.Card-main {
  display: flex;
  background: #E3F3F9;
  border-radius: 45px;
  /* border: 5px solid red; */
  margin-bottom: 5%;
  flex-direction: row;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}

.card-image {
  flex: 1;
  margin-top: 2.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 530px;
  height: 280px;
  /* transition: opacity 0.3s ease; */
  transition: box-shadow 0.3s ease;
  border-radius: 50px;
}

.card-image:hover {
  /* opacity: 0.8; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
  margin-top: 2%;
}

.card-point {
  flex: 2;
  background: #E3F3F9;
  border-radius: 45px;
}

.ulitems {
  background: #E3F3F9;
  text-decoration: none;
  cursor: pointer;
  font-family: "Nunito Sans";
  font-size: 19px;
  margin-left: 3%;
  transition: transform 0.3s ease-in-out;
}

.listitems:hover {
  transform: scale(1.01);
}

.card-content {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  width: 80%;
  text-align: left;
  margin-left: 5%;
  transition: transform 0.3s ease-in-out;
}

.card-content p {
  background: #E3F3F9;
}

.point {
  background: #E3F3F9;
}

.card-content:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.title {
  background: #E3F3F9;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  width: 80%;
  text-align: center;
  margin-left: 2.5%;
  transition: transform 0.3s ease-in-out;
}

.visit-button {
  display: inline-block;
  font-family: "Nunito Sans";
  padding: 10px 20px;
  background-color: #337ab7;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  transition: transform 0.3s ease-in-out;
}

.text-center {
  background: #E3F3F9;
  text-align: center;
}

.visit-button:hover {
  cursor: pointer;
  background-color: #0881b3;
  transform: scale(1.05);
}