/* * {
  overflow-x: hidden;
} */
.login-wrapper {
  background-color: #E3F3F9;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.login-container {
  display: flex;
  flex-direction: row;
  height: 82vh;
  width: 80%;
  margin: 0 auto;
  margin-top: 2%;
  border-radius: 85px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.login-flex2 {
  /* flex: 1; */
  width: 30%;
  background-color: #0cb6f0;
  overflow-y: hidden;
}

.login-heading2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  overflow: hidden;
  margin-top: 2rem;
  margin: 20px 20px;
}

#dcs2 {
  width: 300px;
  height: 350px;
  margin-right: 40%;
  margin-left: 11%;
}

.login-flex1 {
  flex: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.login-heading {
  font-family: 'Inter';
  font-weight: 600;
  margin-top: 2rem;
  margin-left: 12%;
  font-size: 40px;
  line-height: 58px;
}

.login-mail {
  font-family: 'Inter';
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  background-color: #fff;
  margin-left: 12%;
}

.login-password {
  font-family: 'Inter';
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  background-color: #fff;
  margin-left: 12%;
}

#dcs3 {
  width: 75%;
  height: 5%;
  margin: 0 auto;
  margin-top: 1rem;
  border-color: #0cb6f0;
  border-radius: 8px;
}

#dcs3::placeholder {
  font-size: 25px;
  opacity: 0.6;
}

#dcs4::placeholder {
  font-size: 20px;
  opacity: 0.6;
  margin-top: 0;
  margin-bottom: auto;
}

#dcs4 {
  width: 75%;
  height: 5%;
  margin: 0 auto;
  margin-top: 1rem;
  border-color: #0cb6f0;
  border-radius: 8px;

}

.login-form1 {
  font-family: 'Inter';
  height: 390px;
  margin-top: 65px;
  font-weight: bold;
  font-size: 30px;
  background-color: #fff;
}

.form-label {
  margin-left: 6rem;
}

#dsc1 {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 23px;
  width: 75%;
  height: 5%;
  background: #0cb6f0;
  color: white;
  border-radius: 15px;
  margin-left: 6rem;
  /* margin-top: 3%; */
}

#dsc1:hover {
  cursor: pointer;
  background-color: #8786ca;
  transition-duration: 400ms;
}

#dcs7 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 1rem;
}

/* @media (min-width: 768px) {
  .login-flex2 {
    display: block;
  }
} */

@media (max-width: 767px) {
  .login-flex2 {
    visibility: hidden;
  }

  .login-flex1 {
    width: 100%;
    border-radius: 60px;
  }

  .login-heading {
    font-size: 30px;
  }

  #dsc1 {
    margin-left: 2rem;
  }
}