.left-container {
    border-radius: 60px;
    background: #0CB6F0;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 60px 0px 0px 60px;
}

.custom-input {
    border-radius: 8px;
    border: 2px solid #000;
}

.right-container {
    border-radius: 0px 60px 60px 0px;
    background: #F6F6F6;
}

.submit-btn-signup {
    border-radius: 15px;
    background: #0CB6F0;
    border: none;
    height: 10%;
    color: #FFF;
    text-align: center;
    font-size: 1.3em;
    font-family: Inter;
    font-weight: 800;
}