<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="news-blog-container">
            <img src="./digiScholarimg2.png" width="796px" height="385px" class="news-blog-img" alt="">
            <div class="inner-wrapper">
                <div class="news-blog-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus assumenda, sequi dolores fugit eveniet nostrum earum ea hic nisi, veniam placeat nihil autem ipsa, ad quaerat minima error. Porro, tenetur.</div>
                <div class="news-blog-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque qui officia debitis asperiores inventore unde, eligendi ullam optio cupiditate consectetur obcaecati corporis voluptatum dignissimos. Quis, id. Ea corporis sequi fuga?</div>    
            </div>
 
    </div>
</body>
</html>